.theGraphDark .theGraphApp {
  background-color: #000;
  position: relative;
}
.theGraphDark .appCanvas,
.theGraphDark .appSvg {
  position: absolute;
  top: 0;
  left: 0;
}
.theGraphDark svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.theGraphDark .arrow {
  cursor: default;
}
.theGraphDark .click {
  cursor: pointer;
}
.theGraphDark .drag {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.theGraphDark .nodeBorder {
  fill: rgba(0,0,0,0.5);
  stroke: #666;
  stroke-width: 2px;
}
.theGraphDark .nodeRect {
  fill: rgba(230,238,240,0.94);
  stroke: none;
}
@-webkit-keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
@-moz-keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
@-o-keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
.theGraphDark .node.error .nodeRect {
  -webkit-animation: error 1s linear infinite alternate;
  -moz-animation: error 1s linear infinite alternate;
  -o-animation: error 1s linear infinite alternate;
  animation: error 1s linear infinite alternate;
  stroke: none;
}
.theGraphDark .eventcatcher {
  fill: #fff;
  fill-opacity: 0.1;
}
.theGraphDark .node:hover .nodeRect {
  fill: rgba(230,238,240,0.97);
}
.theGraphDark .node:hover .nodeBorder {
  stroke: #808080;
}
.theGraphDark .node:hover .portArc {
  fill: #808080;
}
.theGraphDark .exInports .nodeBorder {
  fill: #1a1a1a;
  stroke: none;
}
.theGraphDark .exOutports .nodeBorder {
  fill: #1a1a1a;
  stroke: none;
}
.theGraphDark .exInports .node .nodeRect,
.theGraphDark .exOutports .node .nodeRect,
.theGraphDark .exInports .node:hover .nodeRect,
.theGraphDark .exOutports .node:hover .nodeRect {
  fill: none;
}
.theGraphDark .selection .exInports .node .nodeBorder,
.theGraphDark .selection .exOutports .node .nodeBorder {
  fill: #1a1a1a;
}
.theGraphDark .small .nodeBorder {
  fill: rgba(230,238,240,0.94);
  stroke: none;
}
.theGraphDark .small .exInports .node .nodeBorder,
.theGraphDark .small .exOutports .node .nodeBorder {
  fill: #1a1a1a;
}
.theGraphDark .nodeBackground {
  opacity: 0;
}
.theGraphDark .selection .node .nodeRect {
  fill: rgba(61,66,67,0.94);
}
.theGraphDark .selection .node .nodeBorder {
  stroke: #232829;
}
.theGraphDark .selection .node .portArc {
  fill: #232829;
}
.theGraphDark .selection .node .nodeIcon {
  fill: #232829;
}
.theGraphDark .selection .node.selected .nodeRect {
  fill: rgba(230,238,240,0.94);
}
.theGraphDark .selection .node.selected .nodeBorder {
  stroke: #808080;
}
.theGraphDark .selection .node.selected .portArc {
  fill: #808080;
}
.theGraphDark .selection .node.selected .nodeIcon {
  fill: #5e6a6e;
}
.theGraphDark .selection .exInports .node .nodeIcon {
  fill: #512f01;
}
.theGraphDark .selection .exOutports .node .nodeIcon {
  fill: #015115;
}
.theGraphDark .small .selection .node .nodeRect {
  fill: none;
}
.theGraphDark .small .selection .node .nodeBorder {
  fill: rgba(61,66,67,0.94);
  stroke: none;
}
.theGraphDark .small .selection .node.selected .nodeRect {
  fill: none;
}
.theGraphDark .small .selection .node.selected .nodeBorder {
  fill: rgba(230,238,240,0.94);
  stroke: none;
}
.theGraphDark path {
  fill: none;
}
.theGraphDark .arrowBackground {
  stroke: #000;
  stroke-width: 2px;
}
.theGraphDark .edgeBackground {
  stroke: #000;
  stroke-width: 5px;
}
.theGraphDark .edgeForeground {
  stroke: #fff;
  stroke-width: 3px;
  transition-property: stroke-width;
  transition-duration: 0.5s;
}
.theGraphDark .edgeTouch {
  stroke-width: 7px;
  opacity: 0;
}
.theGraphDark .edge:hover .edgeBackground,
.theGraphDark .edge:hover .arrowBackground {
  stroke: #808080;
}
.theGraphDark .edge.selected .arrowBackground {
  stroke: #e6e6e6;
  stroke-width: 4px;
}
.theGraphDark .edge.selected .edgeBackground {
  stroke-width: 8px;
  stroke: #e6e6e6;
}
.theGraphDark .small .edgeBackground {
  stroke-width: 8px;
}
.theGraphDark .small .edgeForeground {
  stroke-width: 6px;
}
@-webkit-keyframes arrowHeartbeats {
  0% {
    stroke-width: 4px;
  }
  10% {
    stroke-width: 8px;
  }
  30% {
    stroke-width: 4px;
  }
  40% {
    stroke-width: 8px;
  }
  60% {
    stroke-width: 4px;
  }
}
@-moz-keyframes arrowHeartbeats {
  0% {
    stroke-width: 4px;
  }
  10% {
    stroke-width: 8px;
  }
  30% {
    stroke-width: 4px;
  }
  40% {
    stroke-width: 8px;
  }
  60% {
    stroke-width: 4px;
  }
}
@-o-keyframes arrowHeartbeats {
  0% {
    stroke-width: 4px;
  }
  10% {
    stroke-width: 8px;
  }
  30% {
    stroke-width: 4px;
  }
  40% {
    stroke-width: 8px;
  }
  60% {
    stroke-width: 4px;
  }
}
.theGraphDark .edge.animated .arrowBackground {
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #e6e6e6;
  -webkit-animation: arrowHeartbeats 4s linear infinite;
  -moz-animation: arrowHeartbeats 4s linear infinite;
  -o-animation: arrowHeartbeats 4s linear infinite;
  animation: arrowHeartbeats 4s linear infinite;
}
@-webkit-keyframes heartbeats {
  0% {
    stroke-width: 6px;
  }
  10% {
    stroke-width: 12px;
  }
  30% {
    stroke-width: 6px;
  }
  40% {
    stroke-width: 12px;
  }
  60% {
    stroke-width: 6px;
  }
}
@-moz-keyframes heartbeats {
  0% {
    stroke-width: 6px;
  }
  10% {
    stroke-width: 12px;
  }
  30% {
    stroke-width: 6px;
  }
  40% {
    stroke-width: 12px;
  }
  60% {
    stroke-width: 6px;
  }
}
@-o-keyframes heartbeats {
  0% {
    stroke-width: 6px;
  }
  10% {
    stroke-width: 12px;
  }
  30% {
    stroke-width: 6px;
  }
  40% {
    stroke-width: 12px;
  }
  60% {
    stroke-width: 6px;
  }
}
.theGraphDark .edge.animated .edgeBackground {
  stroke-linecap: round;
  stroke-width: 6px;
  stroke: #e6e6e6;
  -webkit-animation: heartbeats 4s linear infinite;
  -moz-animation: heartbeats 4s linear infinite;
  -o-animation: heartbeats 4s linear infinite;
  animation: heartbeats 4s linear infinite;
}
.theGraphDark text {
  font-family: "SourceCodePro", "Source Code Pro", Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision; /* makes text scale smoothly */
  font-size: 14px;
  fill: #fff;
  text-anchor: middle;
  dominant-baseline: central;
}
.theGraphDark .textBackgroundRect {
  fill: rgba(0,0,0,0.5);
}
.theGraphDark .nodeLabel,
.theGraphDark .nodeSublabel {
  text-anchor: middle;
}
.theGraphDark .small .nodeLabelBackground {
  visibility: hidden;
}
.theGraphDark .nodeSublabel {
  font-size: 9px;
}
.theGraphDark .nodeSublabelBackground {
  visibility: hidden;
}
.theGraphDark .big .nodeSublabelBackground {
  visibility: visible;
}
.theGraphDark .iipPath {
  stroke-width: 1px;
  stroke: #fff;
}
.theGraphDark .iipInfo {
  visibility: hidden;
}
.theGraphDark .iipInfo .textBackgroundText {
  font-size: 5px;
  text-anchor: end;
}
.theGraphDark .big .iipInfo {
  visibility: visible;
}
.theGraphDark .contextModalBackground {
  fill: rgba(0,0,0,0.5);
}
.theGraphDark .contextNodeRect {
  fill: #121417;
  stroke: #bfbfbf;
  stroke-width: 0.5px;
}
.theGraphDark .contextNodeIcon {
  font-size: 30px;
  fill: #fff;
}
.theGraphDark .contextIcon {
  font-size: 20px;
  fill: #fff;
}
.theGraphDark .contextNodeLabel {
  text-anchor: middle;
}
.theGraphDark .contextArc {
  stroke-width: 72px;
  stroke: rgba(43,48,54,0.95);
}
.theGraphDark .contextSlice.click:hover .contextArc {
  stroke: rgba(90,102,114,0.95);
}
.theGraphDark .contextCircle {
  stroke: #bfbfbf;
  fill: none;
  stroke-width: 1.5px;
}
.theGraphDark .contextCircleX {
  stroke: #bfbfbf;
  fill: none;
  stroke-width: 1px;
}
.theGraphDark .contextArcIconLabel {
  font-size: 12px;
}
.theGraphDark .contextPortBackground {
  fill: rgba(43,48,54,0.95);
}
.theGraphDark .contextPortBackground.highlight {
  stroke: #bfbfbf;
  stroke-width: 1px;
}
.theGraphDark .contextPortHole {
  stroke-width: 2px;
  fill: rgba(43,48,54,0.95);
  stroke: #bfbfbf;
}
.theGraphDark .contextPortPath {
  stroke: #bfbfbf;
}
.theGraphDark .contextPortLabel {
  fill: #fff;
  dominant-baseline: central;
}
.theGraphDark .contextPortIn .contextPortLabel {
  text-anchor: end;
}
.theGraphDark .contextPortOut .contextPortLabel {
  text-anchor: start;
}
.theGraphDark .contextEdgeLabelOut {
  text-anchor: end;
  dominant-baseline: central;
}
.theGraphDark .contextEdgeLabelIn {
  text-anchor: start;
  dominant-baseline: central;
}
.theGraphDark .tooltip {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.theGraphDark .tooltip.hidden {
  opacity: 0;
}
.theGraphDark .tooltipBackground {
  fill: var-tooltipBackground;
  opacity: 0.75;
}
.theGraphDark .tooltipLabel {
  text-anchor: start;
  font-size: 10px;
}
.theGraphDark .icon {
  font-family: 'FontAwesomeSVG';
  text-anchor: middle;
  dominant-baseline: central;
}
.theGraphDark .nodeIcon {
  font-size: 45px;
  fill: #5e6a6e;
  transition-property: font-size, fill;
  transition-duration: 0.5s, 0.3s;
}
.theGraphDark .small .nodeIcon {
  fill: #2f3537;
  font-size: 66px;
}
.theGraphDark .big .nodeIcon {
  fill: #c8ced0;
}
.theGraphDark .exInports .nodeIcon,
.theGraphDark .small .exInports .nodeIcon {
  fill: #e88802;
}
.theGraphDark .exOutports .nodeIcon,
.theGraphDark .small .exOutports .nodeIcon {
  fill: #02e83c;
}
.theGraphDark .portCircleBackground {
  fill: #666;
  opacity: 0;
}
.theGraphDark .portArc {
  fill: #666;
}
.theGraphDark .portCircleSmall {
  fill: none;
}
.theGraphDark .small .portCircle {
  visibility: hidden;
}
.theGraphDark .portLabel {
  fill: #0c0d0e;
  visibility: hidden;
  font-size: 6px;
  dominant-baseline: central;
}
.theGraphDark .inports .portLabel {
  text-anchor: start;
}
.theGraphDark .outports .portLabel {
  text-anchor: end;
}
.theGraphDark .big .portLabel {
  visibility: visible;
}
.theGraphDark .big .exInports .portLabel,
.theGraphDark .big .exOutports .portLabel {
  visibility: hidden;
}
.theGraphDark .groupBox {
  fill: rgba(191,191,191,0.15);
  transition-property: fill;
  transition-duration: 0.3s;
}
.theGraphDark .groupBox:hover {
  fill: rgba(191,191,191,0.25);
}
.theGraphDark .small .groupBox {
  stroke-width: 8px;
}
.theGraphDark .groupBox.color0 {
  fill: rgba(191,191,191,0.15);
  stroke: none;
}
.theGraphDark .groupBox.color1 {
  fill: rgba(255,128,128,0.15);
  stroke: none;
}
.theGraphDark .groupBox.color2 {
  fill: rgba(255,202,128,0.15);
  stroke: none;
}
.theGraphDark .groupBox.color3 {
  fill: rgba(255,255,128,0.15);
  stroke: none;
}
.theGraphDark .groupBox.color4 {
  fill: rgba(128,255,159,0.15);
  stroke: none;
}
.theGraphDark .groupBox.color5 {
  fill: rgba(128,255,212,0.15);
  stroke: none;
}
.theGraphDark .groupBox.color6 {
  fill: rgba(128,244,255,0.15);
  stroke: none;
}
.theGraphDark .groupBox.color7 {
  fill: rgba(128,191,255,0.15);
  stroke: none;
}
.theGraphDark .groupBox.color8 {
  fill: rgba(223,128,255,0.15);
  stroke: none;
}
.theGraphDark .groupBox.color9 {
  fill: rgba(255,128,234,0.15);
  stroke: none;
}
.theGraphDark .groupBox.color10 {
  fill: rgba(255,128,181,0.15);
  stroke: none;
}
.theGraphDark .groupBox.color0:hover {
  fill: rgba(191,191,191,0.25);
}
.theGraphDark .groupBox.color1:hover {
  fill: rgba(255,128,128,0.25);
}
.theGraphDark .groupBox.color2:hover {
  fill: rgba(255,202,128,0.25);
}
.theGraphDark .groupBox.color3:hover {
  fill: rgba(255,255,128,0.25);
}
.theGraphDark .groupBox.color4:hover {
  fill: rgba(128,255,159,0.25);
}
.theGraphDark .groupBox.color5:hover {
  fill: rgba(128,255,212,0.25);
}
.theGraphDark .groupBox.color6:hover {
  fill: rgba(128,244,255,0.25);
}
.theGraphDark .groupBox.color7:hover {
  fill: rgba(128,191,255,0.25);
}
.theGraphDark .groupBox.color8:hover {
  fill: rgba(223,128,255,0.25);
}
.theGraphDark .groupBox.color9:hover {
  fill: rgba(255,128,234,0.25);
}
.theGraphDark .groupBox.color10:hover {
  fill: rgba(255,128,181,0.25);
}
.theGraphDark .selection .groupBox.color0 {
  fill: rgba(191,191,191,0.1);
}
.theGraphDark .selection .groupBox.color1 {
  fill: rgba(255,128,128,0.1);
}
.theGraphDark .selection .groupBox.color2 {
  fill: rgba(255,202,128,0.1);
}
.theGraphDark .selection .groupBox.color3 {
  fill: rgba(255,255,128,0.1);
}
.theGraphDark .selection .groupBox.color4 {
  fill: rgba(128,255,159,0.1);
}
.theGraphDark .selection .groupBox.color5 {
  fill: rgba(128,255,212,0.1);
}
.theGraphDark .selection .groupBox.color6 {
  fill: rgba(128,244,255,0.1);
}
.theGraphDark .selection .groupBox.color7 {
  fill: rgba(128,191,255,0.1);
}
.theGraphDark .selection .groupBox.color8 {
  fill: rgba(223,128,255,0.1);
}
.theGraphDark .selection .groupBox.color9 {
  fill: rgba(255,128,234,0.1);
}
.theGraphDark .selection .groupBox.color10 {
  fill: rgba(255,128,181,0.1);
}
.theGraphDark .selection .groupBox.selection {
  fill: rgba(255,255,255,0.15);
  stroke: #e6e6e6;
  stroke-width: 1px;
}
.theGraphDark .selection .groupBox.selection:hover {
  fill: rgba(255,255,255,0.25);
}
.theGraphDark .groupLabel {
  text-anchor: start;
  fill: #fff;
  font-size: 20px;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.theGraphDark .small .groupLabel {
  font-size: 30px;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.theGraphDark .groupDescription {
  fill: #fff;
  font-size: 12px;
  text-anchor: start;
}
.theGraphDark .small .groupDescription {
  visibility: hidden;
}
.theGraphDark .stroke,
.theGraphDark .stroke.route0,
.theGraphDark .selection .selected .stroke,
.theGraphDark .selection .selected .stroke.route0 {
  stroke: #fff;
}
.theGraphDark .stroke.route1,
.theGraphDark .selection .selected .stroke.route1 {
  stroke: #e80202;
}
.theGraphDark .stroke.route2,
.theGraphDark .selection .selected .stroke.route2 {
  stroke: #e88802;
}
.theGraphDark .stroke.route3,
.theGraphDark .selection .selected .stroke.route3 {
  stroke: #e8e802;
}
.theGraphDark .stroke.route4,
.theGraphDark .selection .selected .stroke.route4 {
  stroke: #02e83c;
}
.theGraphDark .stroke.route5,
.theGraphDark .selection .selected .stroke.route5 {
  stroke: #02e89c;
}
.theGraphDark .stroke.route6,
.theGraphDark .selection .selected .stroke.route6 {
  stroke: #02d5e8;
}
.theGraphDark .stroke.route7,
.theGraphDark .selection .selected .stroke.route7 {
  stroke: #0275e8;
}
.theGraphDark .stroke.route8,
.theGraphDark .selection .selected .stroke.route8 {
  stroke: #af02e8;
}
.theGraphDark .stroke.route9,
.theGraphDark .selection .selected .stroke.route9 {
  stroke: #e802c2;
}
.theGraphDark .stroke.route10,
.theGraphDark .selection .selected .stroke.route10 {
  stroke: #e80262;
}
.theGraphDark .selection .stroke,
.theGraphDark .selection .stroke.route0 {
  stroke: #757575;
}
.theGraphDark .selection .stroke.route1 {
  stroke: #510101;
}
.theGraphDark .selection .stroke.route2 {
  stroke: #512f01;
}
.theGraphDark .selection .stroke.route3 {
  stroke: #515101;
}
.theGraphDark .selection .stroke.route4 {
  stroke: #015115;
}
.theGraphDark .selection .stroke.route5 {
  stroke: #015136;
}
.theGraphDark .selection .stroke.route6 {
  stroke: #014a51;
}
.theGraphDark .selection .stroke.route7 {
  stroke: #012951;
}
.theGraphDark .selection .stroke.route8 {
  stroke: #3d0151;
}
.theGraphDark .selection .stroke.route9 {
  stroke: #510143;
}
.theGraphDark .selection .stroke.route10 {
  stroke: #510122;
}
.theGraphDark .fill,
.theGraphDark .fill.route0,
.theGraphDark .selection .selected .fill,
.theGraphDark .selection .selected .fill.route0 {
  fill: #fff;
}
.theGraphDark .fill.route1,
.theGraphDark .selection .selected .fill.route1 {
  fill: #e80202;
}
.theGraphDark .fill.route2,
.theGraphDark .selection .selected .fill.route2 {
  fill: #e88802;
}
.theGraphDark .fill.route3,
.theGraphDark .selection .selected .fill.route3 {
  fill: #e8e802;
}
.theGraphDark .fill.route4,
.theGraphDark .selection .selected .fill.route4 {
  fill: #02e83c;
}
.theGraphDark .fill.route5,
.theGraphDark .selection .selected .fill.route5 {
  fill: #02e89c;
}
.theGraphDark .fill.route6,
.theGraphDark .selection .selected .fill.route6 {
  fill: #02d5e8;
}
.theGraphDark .fill.route7,
.theGraphDark .selection .selected .fill.route7 {
  fill: #0275e8;
}
.theGraphDark .fill.route8,
.theGraphDark .selection .selected .fill.route8 {
  fill: #af02e8;
}
.theGraphDark .fill.route9,
.theGraphDark .selection .selected .fill.route9 {
  fill: #e802c2;
}
.theGraphDark .fill.route10,
.theGraphDark .selection .selected .fill.route10 {
  fill: #e80262;
}
.theGraphDark .selection .fill,
.theGraphDark .selection .fill.route0 {
  fill: #757575;
}
.theGraphDark .selection .fill.route1 {
  fill: #510101;
}
.theGraphDark .selection .fill.route2 {
  fill: #512f01;
}
.theGraphDark .selection .fill.route3 {
  fill: #515101;
}
.theGraphDark .selection .fill.route4 {
  fill: #015115;
}
.theGraphDark .selection .fill.route5 {
  fill: #015136;
}
.theGraphDark .selection .fill.route6 {
  fill: #014a51;
}
.theGraphDark .selection .fill.route7 {
  fill: #012951;
}
.theGraphDark .selection .fill.route8 {
  fill: #3d0151;
}
.theGraphDark .selection .fill.route9 {
  fill: #510143;
}
.theGraphDark .selection .fill.route10 {
  fill: #510122;
}
@-moz-keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
@-webkit-keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
@-o-keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
@keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
@-moz-keyframes arrowHeartbeats {
  0% {
    stroke-width: 4px;
  }
  10% {
    stroke-width: 8px;
  }
  30% {
    stroke-width: 4px;
  }
  40% {
    stroke-width: 8px;
  }
  60% {
    stroke-width: 4px;
  }
}
@-webkit-keyframes arrowHeartbeats {
  0% {
    stroke-width: 4px;
  }
  10% {
    stroke-width: 8px;
  }
  30% {
    stroke-width: 4px;
  }
  40% {
    stroke-width: 8px;
  }
  60% {
    stroke-width: 4px;
  }
}
@-o-keyframes arrowHeartbeats {
  0% {
    stroke-width: 4px;
  }
  10% {
    stroke-width: 8px;
  }
  30% {
    stroke-width: 4px;
  }
  40% {
    stroke-width: 8px;
  }
  60% {
    stroke-width: 4px;
  }
}
@keyframes arrowHeartbeats {
  0% {
    stroke-width: 4px;
  }
  10% {
    stroke-width: 8px;
  }
  30% {
    stroke-width: 4px;
  }
  40% {
    stroke-width: 8px;
  }
  60% {
    stroke-width: 4px;
  }
}
@-moz-keyframes heartbeats {
  0% {
    stroke-width: 6px;
  }
  10% {
    stroke-width: 12px;
  }
  30% {
    stroke-width: 6px;
  }
  40% {
    stroke-width: 12px;
  }
  60% {
    stroke-width: 6px;
  }
}
@-webkit-keyframes heartbeats {
  0% {
    stroke-width: 6px;
  }
  10% {
    stroke-width: 12px;
  }
  30% {
    stroke-width: 6px;
  }
  40% {
    stroke-width: 12px;
  }
  60% {
    stroke-width: 6px;
  }
}
@-o-keyframes heartbeats {
  0% {
    stroke-width: 6px;
  }
  10% {
    stroke-width: 12px;
  }
  30% {
    stroke-width: 6px;
  }
  40% {
    stroke-width: 12px;
  }
  60% {
    stroke-width: 6px;
  }
}
@keyframes heartbeats {
  0% {
    stroke-width: 6px;
  }
  10% {
    stroke-width: 12px;
  }
  30% {
    stroke-width: 6px;
  }
  40% {
    stroke-width: 12px;
  }
  60% {
    stroke-width: 6px;
  }
}
