.theGraphLight .theGraphApp {
  background-color: #fff;
  position: relative;
}
.theGraphLight .appCanvas,
.theGraphLight .appSvg {
  position: absolute;
  top: 0;
  left: 0;
}
.theGraphLight svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.theGraphLight .arrow {
  cursor: default;
}
.theGraphLight .click {
  cursor: pointer;
}
.theGraphLight .drag {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.theGraphLight .nodeBorder {
  fill: rgba(255,255,255,0.5);
  stroke: #3b4245;
  stroke-width: 2px;
}
.theGraphLight .nodeRect {
  fill: rgba(230,238,240,0.94);
  stroke: none;
}
@-webkit-keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
@-moz-keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
@-o-keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
.theGraphLight .node.error .nodeRect {
  -webkit-animation: error 1s linear infinite alternate;
  -moz-animation: error 1s linear infinite alternate;
  -o-animation: error 1s linear infinite alternate;
  animation: error 1s linear infinite alternate;
  stroke: none;
}
.theGraphLight .eventcatcher {
  fill: #000;
  fill-opacity: 0.1;
}
.theGraphLight .node:hover .nodeRect {
  fill: rgba(230,238,240,0.97);
}
.theGraphLight .node:hover .nodeBorder {
  stroke: #808080;
}
.theGraphLight .node:hover .portArc {
  fill: #808080;
}
.theGraphLight .exInports .nodeBorder {
  fill: #e6e6e6;
  stroke: none;
}
.theGraphLight .exOutports .nodeBorder {
  fill: #e6e6e6;
  stroke: none;
}
.theGraphLight .exInports .node .nodeRect,
.theGraphLight .exOutports .node .nodeRect,
.theGraphLight .exInports .node:hover .nodeRect,
.theGraphLight .exOutports .node:hover .nodeRect {
  fill: none;
}
.theGraphLight .selection .exInports .node .nodeBorder,
.theGraphLight .selection .exOutports .node .nodeBorder {
  fill: #e6e6e6;
}
.theGraphLight .small .nodeBorder {
  fill: rgba(230,238,240,0.94);
  stroke: none;
}
.theGraphLight .small .exInports .node .nodeBorder,
.theGraphLight .small .exOutports .node .nodeBorder {
  fill: #e6e6e6;
}
.theGraphLight .nodeBackground {
  opacity: 0;
}
.theGraphLight .selection .node .nodeRect {
  fill: rgba(245,248,249,0.94);
}
.theGraphLight .selection .node .nodeBorder {
  stroke: #d6dadc;
}
.theGraphLight .selection .node .portArc {
  fill: #d6dadc;
}
.theGraphLight .selection .node .nodeIcon {
  fill: #bac2c4;
}
.theGraphLight .selection .node.selected .nodeRect {
  fill: rgba(230,238,240,0.94);
}
.theGraphLight .selection .node.selected .nodeBorder {
  stroke: #808080;
}
.theGraphLight .selection .node.selected .portArc {
  fill: #808080;
}
.theGraphLight .selection .node.selected .nodeIcon {
  fill: #2f3537;
}
.theGraphLight .selection .exInports .node .nodeIcon {
  fill: #ffe5cc;
}
.theGraphLight .selection .exOutports .node .nodeIcon {
  fill: #ccffdb;
}
.theGraphLight .small .selection .node .nodeRect {
  fill: none;
}
.theGraphLight .small .selection .node .nodeBorder {
  fill: rgba(245,248,249,0.94);
  stroke: none;
}
.theGraphLight .small .selection .node.selected .nodeRect {
  fill: none;
}
.theGraphLight .small .selection .node.selected .nodeBorder {
  fill: rgba(230,238,240,0.94);
  stroke: none;
}
.theGraphLight path {
  fill: none;
}
.theGraphLight .arrowBackground {
  stroke: #e6e6e6;
  stroke-width: 2.5px;
}
.theGraphLight .edgeBackground {
  stroke: #e6e6e6;
  stroke-width: 6px;
}
.theGraphLight .edgeForeground {
  stroke: #bfbfbf;
  stroke-width: 4px;
  transition-property: stroke-width;
  transition-duration: 0.5s;
}
.theGraphLight .edgeTouch {
  stroke-width: 8px;
  opacity: 0;
}
.theGraphLight .edge:hover .edgeBackground,
.theGraphLight .edge:hover .arrowBackground {
  stroke: #808080;
}
.theGraphLight .edge.selected .arrowBackground {
  stroke: #808080;
  stroke-width: 5px;
}
.theGraphLight .edge.selected .edgeBackground {
  stroke-width: 10px;
  stroke: #808080;
}
.theGraphLight .small .edgeBackground {
  stroke-width: 10px;
}
.theGraphLight .small .edgeForeground {
  stroke-width: 8px;
}
@-webkit-keyframes arrowHeartbeats {
  0% {
    stroke-width: 5px;
  }
  10% {
    stroke-width: 10px;
  }
  30% {
    stroke-width: 5px;
  }
  40% {
    stroke-width: 10px;
  }
  60% {
    stroke-width: 5px;
  }
}
@-moz-keyframes arrowHeartbeats {
  0% {
    stroke-width: 5px;
  }
  10% {
    stroke-width: 10px;
  }
  30% {
    stroke-width: 5px;
  }
  40% {
    stroke-width: 10px;
  }
  60% {
    stroke-width: 5px;
  }
}
@-o-keyframes arrowHeartbeats {
  0% {
    stroke-width: 5px;
  }
  10% {
    stroke-width: 10px;
  }
  30% {
    stroke-width: 5px;
  }
  40% {
    stroke-width: 10px;
  }
  60% {
    stroke-width: 5px;
  }
}
.theGraphLight .edge.animated .arrowBackground {
  stroke-linecap: round;
  stroke-width: 5px;
  stroke: #808080;
  -webkit-animation: arrowHeartbeats 4s linear infinite;
  -moz-animation: arrowHeartbeats 4s linear infinite;
  -o-animation: arrowHeartbeats 4s linear infinite;
  animation: arrowHeartbeats 4s linear infinite;
}
@-webkit-keyframes heartbeats {
  0% {
    stroke-width: 8px;
  }
  10% {
    stroke-width: 16px;
  }
  30% {
    stroke-width: 8px;
  }
  40% {
    stroke-width: 16px;
  }
  60% {
    stroke-width: 8px;
  }
}
@-moz-keyframes heartbeats {
  0% {
    stroke-width: 8px;
  }
  10% {
    stroke-width: 16px;
  }
  30% {
    stroke-width: 8px;
  }
  40% {
    stroke-width: 16px;
  }
  60% {
    stroke-width: 8px;
  }
}
@-o-keyframes heartbeats {
  0% {
    stroke-width: 8px;
  }
  10% {
    stroke-width: 16px;
  }
  30% {
    stroke-width: 8px;
  }
  40% {
    stroke-width: 16px;
  }
  60% {
    stroke-width: 8px;
  }
}
.theGraphLight .edge.animated .edgeBackground {
  stroke-linecap: round;
  stroke-width: 8px;
  stroke: #808080;
  -webkit-animation: heartbeats 4s linear infinite;
  -moz-animation: heartbeats 4s linear infinite;
  -o-animation: heartbeats 4s linear infinite;
  animation: heartbeats 4s linear infinite;
}
.theGraphLight text {
  font-family: "SourceCodePro", "Source Code Pro", Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision; /* makes text scale smoothly */
  font-size: 14px;
  fill: #000;
  text-anchor: middle;
  dominant-baseline: central;
}
.theGraphLight .textBackgroundRect {
  fill: rgba(255,255,255,0.5);
}
.theGraphLight .nodeLabel,
.theGraphLight .nodeSublabel {
  text-anchor: middle;
}
.theGraphLight .small .nodeLabelBackground {
  visibility: hidden;
}
.theGraphLight .nodeSublabel {
  font-size: 9px;
}
.theGraphLight .nodeSublabelBackground {
  visibility: hidden;
}
.theGraphLight .big .nodeSublabelBackground {
  visibility: visible;
}
.theGraphLight .iipPath {
  stroke-width: 1px;
  stroke: #bfbfbf;
}
.theGraphLight .iipInfo {
  visibility: hidden;
}
.theGraphLight .iipInfo .textBackgroundText {
  font-size: 5px;
  text-anchor: end;
}
.theGraphLight .big .iipInfo {
  visibility: visible;
}
.theGraphLight .contextModalBackground {
  fill: rgba(255,255,255,0.5);
}
.theGraphLight .contextNodeRect {
  fill: #e0e3e6;
  stroke: #404040;
  stroke-width: 0.5px;
}
.theGraphLight .contextNodeIcon {
  font-size: 30px;
  fill: #000;
}
.theGraphLight .contextIcon {
  font-size: 20px;
  fill: #000;
}
.theGraphLight .contextNodeLabel {
  text-anchor: middle;
}
.theGraphLight .contextArc {
  stroke-width: 72px;
  stroke: rgba(224,227,230,0.95);
}
.theGraphLight .contextSlice.click:hover .contextArc {
  stroke: rgba(195,201,208,0.95);
}
.theGraphLight .contextCircle {
  stroke: #404040;
  fill: none;
  stroke-width: 1.5px;
}
.theGraphLight .contextCircleX {
  stroke: #404040;
  fill: none;
  stroke-width: 1px;
}
.theGraphLight .contextArcIconLabel {
  font-size: 12px;
}
.theGraphLight .contextPortBackground {
  fill: rgba(224,227,230,0.95);
}
.theGraphLight .contextPortBackground.highlight {
  stroke: #404040;
  stroke-width: 1px;
}
.theGraphLight .contextPortHole {
  stroke-width: 2px;
  fill: rgba(224,227,230,0.95);
  stroke: #404040;
}
.theGraphLight .contextPortPath {
  stroke: #404040;
}
.theGraphLight .contextPortLabel {
  fill: #000;
  dominant-baseline: central;
}
.theGraphLight .contextPortIn .contextPortLabel {
  text-anchor: end;
}
.theGraphLight .contextPortOut .contextPortLabel {
  text-anchor: start;
}
.theGraphLight .contextEdgeLabelOut {
  text-anchor: end;
  dominant-baseline: central;
}
.theGraphLight .contextEdgeLabelIn {
  text-anchor: start;
  dominant-baseline: central;
}
.theGraphLight .tooltip {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.theGraphLight .tooltip.hidden {
  opacity: 0;
}
.theGraphLight .tooltipBackground {
  fill: var-tooltipBackground;
  opacity: 0.75;
}
.theGraphLight .tooltipLabel {
  text-anchor: start;
  font-size: 10px;
}
.theGraphLight .icon {
  font-family: 'FontAwesomeSVG';
  text-anchor: middle;
  dominant-baseline: central;
}
.theGraphLight .nodeIcon {
  font-size: 45px;
  fill: #3b4245;
  transition-property: font-size, fill;
  transition-duration: 0.5s, 0.3s;
}
.theGraphLight .small .nodeIcon {
  fill: #171b1c;
  font-size: 66px;
}
.theGraphLight .big .nodeIcon {
  fill: #c8ced0;
}
.theGraphLight .exInports .nodeIcon,
.theGraphLight .small .exInports .nodeIcon {
  fill: #cc6300;
}
.theGraphLight .exOutports .nodeIcon,
.theGraphLight .small .exOutports .nodeIcon {
  fill: #00cc3d;
}
.theGraphLight .portCircleBackground {
  fill: #3b4245;
  opacity: 0;
}
.theGraphLight .portArc {
  fill: #3b4245;
}
.theGraphLight .portCircleSmall {
  fill: none;
}
.theGraphLight .small .portCircle {
  visibility: hidden;
}
.theGraphLight .portLabel {
  fill: #0c0d0e;
  visibility: hidden;
  font-size: 6px;
  dominant-baseline: central;
}
.theGraphLight .inports .portLabel {
  text-anchor: start;
}
.theGraphLight .outports .portLabel {
  text-anchor: end;
}
.theGraphLight .big .portLabel {
  visibility: visible;
}
.theGraphLight .big .exInports .portLabel,
.theGraphLight .big .exOutports .portLabel {
  visibility: hidden;
}
.theGraphLight .groupBox {
  fill: rgba(191,191,191,0.05);
  transition-property: fill;
  transition-duration: 0.3s;
}
.theGraphLight .groupBox:hover {
  fill: rgba(191,191,191,0.15);
}
.theGraphLight .small .groupBox {
  stroke-width: 8px;
}
.theGraphLight .groupBox.color0 {
  fill: rgba(191,191,191,0.05);
  stroke: rgba(191,191,191,0.15);
}
.theGraphLight .groupBox.color1 {
  fill: rgba(204,0,0,0.05);
  stroke: rgba(204,0,0,0.15);
}
.theGraphLight .groupBox.color2 {
  fill: rgba(204,99,0,0.05);
  stroke: rgba(204,99,0,0.15);
}
.theGraphLight .groupBox.color3 {
  fill: rgba(255,200,0,0.05);
  stroke: rgba(255,200,0,0.15);
}
.theGraphLight .groupBox.color4 {
  fill: rgba(0,204,61,0.05);
  stroke: rgba(0,204,61,0.15);
}
.theGraphLight .groupBox.color5 {
  fill: rgba(171,242,218,0.05);
  stroke: rgba(171,242,218,0.15);
}
.theGraphLight .groupBox.color6 {
  fill: rgba(0,201,204,0.05);
  stroke: rgba(0,201,204,0.15);
}
.theGraphLight .groupBox.color7 {
  fill: rgba(0,82,204,0.05);
  stroke: rgba(0,82,204,0.15);
}
.theGraphLight .groupBox.color8 {
  fill: rgba(68,0,204,0.05);
  stroke: rgba(68,0,204,0.15);
}
.theGraphLight .groupBox.color9 {
  fill: rgba(255,168,186,0.05);
  stroke: rgba(255,168,186,0.15);
}
.theGraphLight .groupBox.color10 {
  fill: rgba(204,0,109,0.05);
  stroke: rgba(204,0,109,0.15);
}
.theGraphLight .groupBox.color0:hover {
  fill: rgba(191,191,191,0.15);
}
.theGraphLight .groupBox.color1:hover {
  fill: rgba(204,0,0,0.15);
}
.theGraphLight .groupBox.color2:hover {
  fill: rgba(204,99,0,0.15);
}
.theGraphLight .groupBox.color3:hover {
  fill: rgba(255,200,0,0.15);
}
.theGraphLight .groupBox.color4:hover {
  fill: rgba(0,204,61,0.15);
}
.theGraphLight .groupBox.color5:hover {
  fill: rgba(171,242,218,0.15);
}
.theGraphLight .groupBox.color6:hover {
  fill: rgba(0,201,204,0.15);
}
.theGraphLight .groupBox.color7:hover {
  fill: rgba(0,82,204,0.15);
}
.theGraphLight .groupBox.color8:hover {
  fill: rgba(68,0,204,0.15);
}
.theGraphLight .groupBox.color9:hover {
  fill: rgba(255,168,186,0.15);
}
.theGraphLight .groupBox.color10:hover {
  fill: rgba(204,0,109,0.15);
}
.theGraphLight .selection .groupBox.color0 {
  fill: rgba(191,191,191,0.01);
}
.theGraphLight .selection .groupBox.color1 {
  fill: rgba(204,0,0,0.01);
}
.theGraphLight .selection .groupBox.color2 {
  fill: rgba(204,99,0,0.01);
}
.theGraphLight .selection .groupBox.color3 {
  fill: rgba(255,200,0,0.01);
}
.theGraphLight .selection .groupBox.color4 {
  fill: rgba(0,204,61,0.01);
}
.theGraphLight .selection .groupBox.color5 {
  fill: rgba(171,242,218,0.01);
}
.theGraphLight .selection .groupBox.color6 {
  fill: rgba(0,201,204,0.01);
}
.theGraphLight .selection .groupBox.color7 {
  fill: rgba(0,82,204,0.01);
}
.theGraphLight .selection .groupBox.color8 {
  fill: rgba(68,0,204,0.01);
}
.theGraphLight .selection .groupBox.color9 {
  fill: rgba(255,168,186,0.01);
}
.theGraphLight .selection .groupBox.color10 {
  fill: rgba(204,0,109,0.01);
}
.theGraphLight .selection .groupBox.selection {
  fill: rgba(128,128,128,0.15);
  stroke: #808080;
  stroke-width: 1px;
}
.theGraphLight .selection .groupBox.selection:hover {
  fill: rgba(102,102,102,0.25);
}
.theGraphLight .groupLabel {
  text-anchor: start;
  fill: #000;
  font-size: 20px;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.theGraphLight .small .groupLabel {
  font-size: 30px;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.theGraphLight .groupDescription {
  fill: #000;
  font-size: 12px;
  text-anchor: start;
}
.theGraphLight .small .groupDescription {
  visibility: hidden;
}
.theGraphLight .stroke,
.theGraphLight .stroke.route0,
.theGraphLight .selection .selected .stroke,
.theGraphLight .selection .selected .stroke.route0 {
  stroke: #bfbfbf;
}
.theGraphLight .stroke.route1,
.theGraphLight .selection .selected .stroke.route1 {
  stroke: #c00;
}
.theGraphLight .stroke.route2,
.theGraphLight .selection .selected .stroke.route2 {
  stroke: #cc6300;
}
.theGraphLight .stroke.route3,
.theGraphLight .selection .selected .stroke.route3 {
  stroke: #ffc800;
}
.theGraphLight .stroke.route4,
.theGraphLight .selection .selected .stroke.route4 {
  stroke: #00cc3d;
}
.theGraphLight .stroke.route5,
.theGraphLight .selection .selected .stroke.route5 {
  stroke: #abf2da;
}
.theGraphLight .stroke.route6,
.theGraphLight .selection .selected .stroke.route6 {
  stroke: #00c9cc;
}
.theGraphLight .stroke.route7,
.theGraphLight .selection .selected .stroke.route7 {
  stroke: #0052cc;
}
.theGraphLight .stroke.route8,
.theGraphLight .selection .selected .stroke.route8 {
  stroke: #40c;
}
.theGraphLight .stroke.route9,
.theGraphLight .selection .selected .stroke.route9 {
  stroke: #ffa8ba;
}
.theGraphLight .stroke.route10,
.theGraphLight .selection .selected .stroke.route10 {
  stroke: #cc006d;
}
.theGraphLight .selection .stroke,
.theGraphLight .selection .stroke.route0 {
  stroke: #e6e6e6;
}
.theGraphLight .selection .stroke.route1 {
  stroke: #fcc;
}
.theGraphLight .selection .stroke.route2 {
  stroke: #ffe5cc;
}
.theGraphLight .selection .stroke.route3 {
  stroke: #fff4cc;
}
.theGraphLight .selection .stroke.route4 {
  stroke: #ccffdb;
}
.theGraphLight .selection .stroke.route5 {
  stroke: #d3f8ec;
}
.theGraphLight .selection .stroke.route6 {
  stroke: #ccfeff;
}
.theGraphLight .selection .stroke.route7 {
  stroke: #cce0ff;
}
.theGraphLight .selection .stroke.route8 {
  stroke: #dcf;
}
.theGraphLight .selection .stroke.route9 {
  stroke: #ffccd6;
}
.theGraphLight .selection .stroke.route10 {
  stroke: #ffcce7;
}
.theGraphLight .fill,
.theGraphLight .fill.route0,
.theGraphLight .selection .selected .fill,
.theGraphLight .selection .selected .fill.route0 {
  fill: #bfbfbf;
}
.theGraphLight .fill.route1,
.theGraphLight .selection .selected .fill.route1 {
  fill: #c00;
}
.theGraphLight .fill.route2,
.theGraphLight .selection .selected .fill.route2 {
  fill: #cc6300;
}
.theGraphLight .fill.route3,
.theGraphLight .selection .selected .fill.route3 {
  fill: #ffc800;
}
.theGraphLight .fill.route4,
.theGraphLight .selection .selected .fill.route4 {
  fill: #00cc3d;
}
.theGraphLight .fill.route5,
.theGraphLight .selection .selected .fill.route5 {
  fill: #abf2da;
}
.theGraphLight .fill.route6,
.theGraphLight .selection .selected .fill.route6 {
  fill: #00c9cc;
}
.theGraphLight .fill.route7,
.theGraphLight .selection .selected .fill.route7 {
  fill: #0052cc;
}
.theGraphLight .fill.route8,
.theGraphLight .selection .selected .fill.route8 {
  fill: #40c;
}
.theGraphLight .fill.route9,
.theGraphLight .selection .selected .fill.route9 {
  fill: #ffa8ba;
}
.theGraphLight .fill.route10,
.theGraphLight .selection .selected .fill.route10 {
  fill: #cc006d;
}
.theGraphLight .selection .fill,
.theGraphLight .selection .fill.route0 {
  fill: #e6e6e6;
}
.theGraphLight .selection .fill.route1 {
  fill: #fcc;
}
.theGraphLight .selection .fill.route2 {
  fill: #ffe5cc;
}
.theGraphLight .selection .fill.route3 {
  fill: #fff4cc;
}
.theGraphLight .selection .fill.route4 {
  fill: #ccffdb;
}
.theGraphLight .selection .fill.route5 {
  fill: #d3f8ec;
}
.theGraphLight .selection .fill.route6 {
  fill: #ccfeff;
}
.theGraphLight .selection .fill.route7 {
  fill: #cce0ff;
}
.theGraphLight .selection .fill.route8 {
  fill: #dcf;
}
.theGraphLight .selection .fill.route9 {
  fill: #ffccd6;
}
.theGraphLight .selection .fill.route10 {
  fill: #ffcce7;
}
@-moz-keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
@-webkit-keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
@-o-keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
@keyframes error {
  0% {
    fill: rgba(230,238,240,0.94);
  }
  100% {
    fill: rgba(255,0,0,0.94);
  }
}
@-moz-keyframes arrowHeartbeats {
  0% {
    stroke-width: 5px;
  }
  10% {
    stroke-width: 10px;
  }
  30% {
    stroke-width: 5px;
  }
  40% {
    stroke-width: 10px;
  }
  60% {
    stroke-width: 5px;
  }
}
@-webkit-keyframes arrowHeartbeats {
  0% {
    stroke-width: 5px;
  }
  10% {
    stroke-width: 10px;
  }
  30% {
    stroke-width: 5px;
  }
  40% {
    stroke-width: 10px;
  }
  60% {
    stroke-width: 5px;
  }
}
@-o-keyframes arrowHeartbeats {
  0% {
    stroke-width: 5px;
  }
  10% {
    stroke-width: 10px;
  }
  30% {
    stroke-width: 5px;
  }
  40% {
    stroke-width: 10px;
  }
  60% {
    stroke-width: 5px;
  }
}
@keyframes arrowHeartbeats {
  0% {
    stroke-width: 5px;
  }
  10% {
    stroke-width: 10px;
  }
  30% {
    stroke-width: 5px;
  }
  40% {
    stroke-width: 10px;
  }
  60% {
    stroke-width: 5px;
  }
}
@-moz-keyframes heartbeats {
  0% {
    stroke-width: 8px;
  }
  10% {
    stroke-width: 16px;
  }
  30% {
    stroke-width: 8px;
  }
  40% {
    stroke-width: 16px;
  }
  60% {
    stroke-width: 8px;
  }
}
@-webkit-keyframes heartbeats {
  0% {
    stroke-width: 8px;
  }
  10% {
    stroke-width: 16px;
  }
  30% {
    stroke-width: 8px;
  }
  40% {
    stroke-width: 16px;
  }
  60% {
    stroke-width: 8px;
  }
}
@-o-keyframes heartbeats {
  0% {
    stroke-width: 8px;
  }
  10% {
    stroke-width: 16px;
  }
  30% {
    stroke-width: 8px;
  }
  40% {
    stroke-width: 16px;
  }
  60% {
    stroke-width: 8px;
  }
}
@keyframes heartbeats {
  0% {
    stroke-width: 8px;
  }
  10% {
    stroke-width: 16px;
  }
  30% {
    stroke-width: 8px;
  }
  40% {
    stroke-width: 16px;
  }
  60% {
    stroke-width: 8px;
  }
}
